
  body {
  /* Old browsers */
  background: #e5e5e5
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(-45deg, #e5e5e5, #FFF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(-45deg, #e5e5e5, #FFF);
  margin: 0;
  padding: 0;
}

h1 {
  color: #a54395;
  text-transform: uppercase;
  font-family: Tahoma, Garamond, serif;
  font-size: 100px;
  padding-top: 10px;
  border: #45ada9 6px solid;
  text-align: center;
  width: 60%;
}

h2 {
  border: #79bc5c 3px solid;
  word-spacing: 0.05em;
  letter-spacing:0.02em;
  color: #993d6e;
  font-family: Roboto, Garamond, serif;
  font-weight: 100;
  font-size: 22px;
  line-height: 24px;
  padding-bottom: 15px;
  text-align: center;
  width: 70%;
}

p {
  color: #74c1db;
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:100;
  line-height: 1.7em;
  text-align: center;
  border: #f9997f 4px solid;
  width: 100%;
}

.byline {
  color: rgba(255, 255, 255, 0.5);
  float: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 14px;
  padding-left: 10px;
  text-transform: uppercase;
}

.caption {
  background-color: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.65);
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  font-style: italic;
  line-height: 14px;
  margin-left: 20px;
  padding: 10px;
  position: relative;
  top: 80%;
  width: 60%;
}

.content {
  padding: 40px;
}

