
body {
background-color: #FFF;
margin: 0;
padding: 0;
}

#Logo {
  position: fixed;
  background-image: url("https://raw.githubusercontent.com/dkavanaugh435/Think-Launch-Project/master/First%20Project/Webpage%20Elements/Images/logo-tv-logo.png");
  top: 5%;
  left: 5%;
  width: 100px;
  height: 50px;

}
.header {
  background-image: url("https://raw.githubusercontent.com/dkavanaugh435/Think-Launch-Project/master/First%20Project/Webpage%20Elements/Images/lights-party-dancing-music.jpg");
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 80%;
  left: 20%;
}


#homepage-header {
  text-align: center;
  top: 50%
  font-family: Calibri;
  font-size: 20px;
}

.value-props h2{
  font-family: Calibri;
  font-size: 15px;
  width: 100%;
  display: inline-block;
}
#prop1 {
  width: 25%;
  background-image: url("https://raw.githubusercontent.com/dkavanaugh435/Think-Launch-Project/master/First%20Project/Webpage%20Elements/Images/discover.jpg");
}

#prop2 {
  width: 25%;
  background-image: url("https://raw.githubusercontent.com/dkavanaugh435/Think-Launch-Project/master/First%20Project/Webpage%20Elements/Images/connect.jpeg");
}

#prop3 {
  width: 25%;
  background-image: url("https://raw.githubusercontent.com/dkavanaugh435/Think-Launch-Project/master/First%20Project/Webpage%20Elements/Images/pexels-photo-167579.jpeg");
}

.special-shows {
  text-align: center;
  font-family: Calibri;
  font-size: 15px;
  padding: 10px;
}
